/* line 1, style.less */
body {
  background-color: #ffffff;
}
/* line 4, style.less */
.quiz {
  cursor: default;
  background-color: #8eecec;
  color: #1d3a42;
}
/* line 8, style.less */
.quiz button.btn {
  background-color: #eecb6e;
  color: #ffffff;
  padding: 0.75rem 3rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  position: -webkit-sticky;
  position: sticky;
  top: 4px;
}
/* line 21, style.less */
.quiz .hidden {
  opacity: 0;
  display: none;
}
/* line 26, style.less */
.quiz .show {
  opacity: 1;
  display: block;
}
/* line 31, style.less */
.quiz h2,
.quiz h1 {
  text-transform: capitalize;
}
/* line 35, style.less */
.quiz .cardUser {
  background-color: white;
  padding: 10px;
  border-radius: 9px;
  margin: 10px 0;
}
/* line 41, style.less */
.quiz .cardUser h3 {
  text-transform: capitalize;
}
/* line 45, style.less */
.quiz .cardUser .answers {
  border-top: 2px solid black;
}
/* line 48, style.less */
.quiz .cardUser .answers h4 {
  text-align: start;
  padding: 5px 10px;
}
/* line 52, style.less */
.quiz .cardUser .answers h4 span {
  padding: 5px;
  margin-right: 5px;
  text-transform: capitalize;
}
/* line 57, style.less */
.quiz .cardUser .answers h4 span.respuestas {
  background-color: #5e4630;
  color: white;
}
/* line 62, style.less */
.quiz .cardUser .answers h4 span.pregunta {
  background-color: #eecb6e;
}
/* line 71, style.less */
.quiz section.welcomeScreen {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
/* line 74, style.less */
.quiz section.welcomeScreen .formUser {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/* line 79, style.less */
.quiz section.welcomeScreen .formUser #nameUser {
  font-size: 25px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
}
/* line 94, style.less */
.quiz section.welcomeScreen .quiz__btn__showRanking {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
/* line 113, style.less */
.quiz section.encuesta .cardQuestion .lista {
  list-style: none;
  background-color: white;
  padding: 10px;
}
/* line 118, style.less */
.quiz section.encuesta .cardQuestion .lista .item {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #5e4630;
}
/* line 123, style.less */
.quiz section.encuesta .cardQuestion .lista .item:last-child {
  border-bottom: none;
}
/* line 127, style.less */
.quiz section.encuesta .cardQuestion .lista .item:hover {
  background-color: #abecf5;
  color: #ceb889;
  font-size: 25px;
}
/* line 147, style.less */
.quiz section.sectionResultadosUser .cardUser {
  background-color: white;
  padding: 10px;
  border-radius: 9px;
}
/* line 152, style.less */
.quiz section.sectionResultadosUser .cardUser h3 {
  text-transform: capitalize;
}
/* line 156, style.less */
.quiz section.sectionResultadosUser .cardUser .answers {
  border-top: 2px solid black;
}
/* line 162, style.less */
.quiz #respuestasUsers {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  width: 100%;
}
/* line 167, style.less */
.quiz #respuestasUsers articles.card {
  background-color: white;
  border-radius: 9px;
  padding: 10px;
}
/* line 172, style.less */
.quiz #respuestasUsers articles.card .title,
.quiz #respuestasUsers articles.card .responseUser {
  border-bottom: 1px solid #6d1fa1;
  margin-bottom: 10px;
}
/* line 179, style.less */
.quiz #respuestasUsers articles.card .anwserTitle span {
  padding: 5px 0px 5px 5px;
  background-color: #eecb6e;
  border-radius: 8px;
}
/* line 186, style.less */
.quiz #respuestasUsers articles.card h2.title {
  text-transform: uppercase;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: red;
  margin: 5px;
  padding: 10px;
}
/* line 193, style.less */
.quiz #respuestasUsers articles.card h2.title span {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 5px;
  background-color: #77de6f;
  border-radius: 8px;
  color: white;
}
/* line 203, style.less */
.quiz #respuestasUsers articles.card:last-child {
  border-bottom: none;
}
/* line 208, style.less */
.quiz #respuestasUsers.show {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
@media screen and (min-width: 300px) {
  /* line 217, style.less */
  h1 {
    width: 80%;
    margin: auto;
  }
}
/*# sourceMappingURL=style.css.map */