body{
    background-color: #ffffff;
}
.main {
    cursor: default;
    min-height:100vh;
    color: #1d3a42;
    display: flex;
        flex-direction: column;
        align-items: center;
    button.btn {
        background-color: #eecb6e;
        font-size: larger;
        text-transform: uppercase;
        color: #ffffff;
        padding: 0.75rem 3rem;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin-top: 10px;
        position: sticky;
        top: 4px;
    }


    .hidden {
        opacity: 0;
        display: none;
    }

    .show {
        opacity: 1;
        display: flex;
    }

    h2,h1 {
        text-transform: capitalize;
        align-items: center;
        font-family: sans-serif;
        font-size:xx-large;

    }
    .cardUser {
        background-color: white;
        padding: 10px;
        border-radius: 9px;
        margin: 10px 0;

        h3 {
            text-transform: capitalize;
            font-family: sans-serif;
            font-size: xx-large;
            margin-bottom:5px;
            padding-left: 10px;

        }

        .cardPregunta {
            border-top: 2px solid black;

            h2,h3 {
                text-align: start;
                padding: 5px 10px;
                font-family: sans-serif;
                line-height: 40px;

                span {
                    padding: 5px;
                    margin-right: 5px;
                    // text-transform: capitalize;

                    &.titlePregunta {
                        background-color: #5e4630;
                        color: white;
                    }

                    &.respuestaUser {
                        background-color: #eecb6e;
                    }

                }
            }
        }
    }
    &__section{

        &__form{
            // background-color: red;
            box-sizing: border-box;
            padding: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            h1,h2{
                text-align: center;
                font-family: sans-serif;
            }
            h2{}
            input{
                box-sizing: border-box;
              width:250px;
              outline: none;
              border: none;
              padding :10px;
              height:40px;
              border-radius: 9px;
              line-height: 40px;
              font-size: 30px;
            }
            button{}

        }
        &__resultados{
            flex-direction: column;
            align-items: center;
            width: 90%;


        }
        &__resultadosprevios{
            flex-direction: column;
            align-items: center;
            width: 90%;
        }
        &__preguntas{
            flex-direction: column;
            align-items: center;
            width: 90%;
            padding: 10px;
            article{
                h1{
                    text-align: center;
                font-family: sans-serif;
                font-size: x-large;
                }
                ul{
                    background-color: white;
                    padding: 10px;
                    list-style: none;
                    border-radius: 9px;
                    max-width: 90%;
                    min-width: 90%;
                    li{
                        padding: 10px;
                        font-family: sans-serif;
                        word-wrap: normal;
                        font-weight: bold;
                        font-size: x-large;
                        cursor: pointer;
                        transition: all 0.2s ease;
                        &:hover{
                            background-color:gray;
                            color:white;
                            border-radius: 9px;
                        }
                    }
                }
            }
        }
        &__resultadosprevios{
            flex-direction: column;
            align-items: center;
            width: 90%;
              .cardUser {
            background-color: white;
            padding: 10px;
            border-radius: 9px;
            margin: 10px 0;

            h3 {
                text-transform: capitalize;
            }

            .cardPregunta {
                border-top: 2px solid black;

                h2,h3 {
                    text-align: start;
                    padding: 5px 10px;
                    font-family: sans-serif;
                    line-height: 40px;

                    span {
                        padding: 5px;
                        margin-right: 5px;
                        // text-transform: capitalize;

                        &.titlePregunta {
                            background-color: #5e4630;
                            color: white;
                        }

                        &.respuestaUser {
                            background-color: #eecb6e;
                        }

                    }
                }
            }
        }

        }
    }

    section.welcomeScreen {
        transition: all 0.3s ease;

        .formUser {
            display: flex;
            flex-direction: column;
            align-items: center;

            #nameUser {
                font-size: 25px;
                box-sizing: border-box;
                width: 100%;
            }
        }

        // &.hidden{
        //     opacity: 0;
        //         display: none;
        // }
        // &.show{
        //     opacity: 1;
        //     display: block;
        // }
        .quiz__btn__showRanking {
            transition: all 0.5s ease;

            // &.show {
            //     opacity: 1;
            //     display: block;
            // }

            // &.hidden {
            //     opacity: 0;
            //     display: none;
            // }
        }
    }

    section.encuesta {
        .cardQuestion {
            h2 {}

            .lista {
                list-style: none;
                background-color: white;
                padding: 10px;

                .item {
                    padding: 10px;
                    cursor: pointer;
                    border-bottom: 1px solid #5e4630;

                    &:last-child {

                        border-bottom: none;
                    }
                    &:hover{
                        background-color: #abecf5;
                        color: rgb(206, 184, 137);
                        font-size: 25px;

                    }
                }

                &:last-child {}
            }
        }

        &.hidden {}

        &.show {}
    }

    section.sectionResultadosUser {

        // background-color: red;
        .cardUser {
            background-color: white;
            padding: 10px;
            border-radius: 9px;

            h3 {
                text-transform: capitalize;
            }

            .answers {
                border-top: 2px solid black;
            }
        }
    }

    #respuestasUsers {
        box-sizing: border-box;
        padding: 10px;
        width: 100%;

        articles.card {
            background-color: white;
            border-radius: 9px;
            padding: 10px;

            .title,
            .responseUser {
                border-bottom: 1px solid rgb(109, 31, 161);
                margin-bottom: 10px;
            }

            .anwserTitle {
                span {
                    padding: 5px 0px 5px 5px;
                    background-color: #eecb6e;
                    border-radius: 8px;
                }
            }

            h2.title {
                text-transform: uppercase;
                box-sizing: border-box;
                color: red;
                margin: 5px;
                padding: 10px;

                span {
                    box-sizing: border-box;

                    padding: 5px;
                    background-color: #77de6f;
                    border-radius: 8px;
                    color: white;
                }
            }

            &:last-child {
                border-bottom: none;
            }
        }

        &.show {
            margin: 0 auto;
            display: flex;
            align-items: center;
            width: 100%;
        }
    }
}
@media screen and (min-width: 300px) {
    h1{
        width: 80%;
        margin: auto;
    }
}
